Имя продавца: <%= @seller.name %> <br>
<% if @error %>
  Лимит исчерпан!
<% else %>
Генерация запущена!
<br> <br>
Ссылка на заказ: <a target="_blank" href="http://<%= request.host %>/<%= @order.plug %>.txt">http://<%= request.host %>/<%= @order.plug %>.txt</a><br>
Осталось на лимите: <%= @seller.limit %>
<br>
<% end %>