<div class="span4">
<%= semantic_form_for @order, html: {role:"form", style:"width:100%;"}, remote: true do |f| %>
  <%= f.inputs do %>
    <%= f.input :vk_group_link, label: "Ссылка на группу ВК" %>
    <%= f.input :vk_city_id, label: "Город", as: :select, collection: [['Москва', 1],['Санкт-Петербург', 2],['Владивосток', 37],['Волгоград', 10],['Екатеринбург', 49],['Казань', 60],['Калининград', 61],['Краснодар', 72],['Красноярск', 73],['Нижний Новгород', 95],['Новосибирск', 99],['Омск', 104],['Пермь', 110],['Ростов-на-Дону', 119],['Самара', 123],['Уфа', 151],['Хабаровск', 153],['Челябинск', 158]], prompt: "Не важно" %>
    <%= f.input :sex, label: "Пол", as: :select, collection: [["Мужской", 2],["Женский", 1]], prompt: "Не важно" %>
  <% end %>
  <%= f.action :submit, label: "Заказать базу" %>
<% end %>

</div>
<div class="span8">
  <h2 id="emails-count"></h1>
</div>
