<div class="span4">
<%= semantic_form_for @order, html: {role:"form", style:"width:100%;"}, remote: true do |f| %>
  <%= f.inputs do %>
    <%= f.input :vk_group_link, label: "Ссылка на группу ВК" %>
    <%= f.input :vk_city_id, label: "Город", as: :select, collection: VkCity::CITIES.map{|k,v| [v,k]}, prompt: "Не важно" %>
    <%= f.input :sex, label: "Пол", as: :select, collection: [["Мужской", 2],["Женский", 1]], prompt: "Не важно" %>
  <% end %>
  <%= f.action :submit, label: "Заказать базу" %>
<% end %>

</div>
<div class="span8">
  <h2 id="emails-count">&nbsp;</h1>
  <ul style="margin:0px;">
    <li>Учтите, что, указывая город, вы отфильтровываете всех людей, не указавших город в своем профиле.</li>
    <li>Продаваемая база будет содержать только емейлы, никаких ссылок на профиль и имен.</li>
  </ul>
</div>
